[user]
	name = Edd Steel
[alias]
	graph = log --branches --color --oneline --graph --decorate
	lg = log --color --oneline
[color]
	ui = true
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[url "git://github.com/"]
	insteadOf = github://
[url "git@github.com:eddsteel/"]
	pushInsteadOf = git://github.com/eddsteel/
[include]
	path = .gitconfig.extra
