[user]
	name = Edd Steel
	email = edward.steel@gmail.com
	signingkey = D40385A0
[alias]
	graph = log --branches --color --oneline --graph --decorate
	lg = log --color --oneline
[color]
	ui = true
[merge]
	tool = vimdiff
